# Bien moi truong Frontend Next.js (videocrew-ui)

# URL Backend API (Khai bao domain Ngrok hoac http://127.0.0.1:8000/api/v1 khi dev local)
NEXT_PUBLIC_API_URL=https://unfrosted-alone-conduit.ngrok-free.dev/api/v1

# URL WebSocket Backend (Khai bao wss://domain-ngrok hoac ws://127.0.0.1:8000/api/v1/ws khi dev local)
NEXT_PUBLIC_WS_URL=wss://unfrosted-alone-conduit.ngrok-free.dev/api/v1/ws
